version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management   # Usa la versi贸n con interfaz de administraci贸n
    container_name: rabbitmq
    ports:
      - "5672:5672"                # Puerto para la comunicaci贸n entre los servicios
      - "15672:15672"              # Puerto para la interfaz de administraci贸n
    healthcheck:
      test: ["CMD", "rabbitmqctl", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  machine:
    build: ./machine/fastapi_app/.
    ports:
      - '8001:8000'
    volumes:
      - './machine/fastapi_app:/code'
      - './machine/db_volume:/volume'
      - './keys:/keys'
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      PYTHONUNBUFFERED: 1
      SQLALCHEMY_DATABASE_URL: ${SQLALCHEMY_SQLITE_DATABASE_URI}
    restart: on-failure
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload --ssl-keyfile /keys/priv.pem --ssl-certfile /keys/cert.pem

  orders:
    build: ./orders/fastapi_app/.
    ports:
      - '8002:8000'
    volumes:
      - './orders/fastapi_app:/code'
      - './orders/db_volume:/volume'
      - './keys:/keys'
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      PYTHONUNBUFFERED: 1
      SQLALCHEMY_DATABASE_URL: ${SQLALCHEMY_SQLITE_DATABASE_URI}
    restart: on-failure
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload --ssl-keyfile /keys/priv.pem --ssl-certfile /keys/cert.pem

  delivery:
    build: ./delivery/fastapi_app/.
    ports:
      - '8003:8000'
    volumes:
      - './delivery/fastapi_app:/code'
      - './delivery/db_volume:/volume'
      - './keys:/keys'
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      PYTHONUNBUFFERED: 1
      SQLALCHEMY_DATABASE_URL: ${SQLALCHEMY_SQLITE_DATABASE_URI}
    restart: on-failure
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload --ssl-keyfile /keys/priv.pem --ssl-certfile /keys/cert.pem

  client:
    build: ./client/fastapi_app/.
    ports:
      - '8004:8000'
    volumes:
      - './client/fastapi_app:/code'
      - './client/db_volume:/volume'
      - './keys:/keys'
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      PYTHONUNBUFFERED: 1
      SQLALCHEMY_DATABASE_URL: ${SQLALCHEMY_SQLITE_DATABASE_URI}
    restart: on-failure
    command: >
      sh -c "sqlite3 /volume/monolithic.db < /volume/init_db.sql &&
             uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload --ssl-keyfile /keys/priv.pem --ssl-certfile /keys/cert.pem"

  payment:
    build: ./payment/fastapi_app/.
    ports:
      - '8005:8000'
    volumes:
      - './payment/fastapi_app:/code'
      - './payment/db_volume:/volume'
      - './keys:/keys'
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      PYTHONUNBUFFERED: 1
      SQLALCHEMY_DATABASE_URL: ${SQLALCHEMY_SQLITE_DATABASE_URI}
    restart: on-failure
    command: sh -c "sqlite3 /volume/monolithic.db < /volume/init_db.sql &&
             uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload --ssl-keyfile /keys/priv.pem --ssl-certfile /keys/cert.pem"

  logging:
    build: ./log/fastapi_app/.
    ports:
      - '8009:8000'
    volumes:
      - './log/fastapi_app:/code'
      - './log/db_volume:/volume'
      - './keys:/keys'
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      PYTHONUNBUFFERED: 1
      SQLALCHEMY_DATABASE_URL: ${SQLALCHEMY_SQLITE_DATABASE_URI}
    restart: on-failure
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload --ssl-keyfile /keys/priv.pem --ssl-certfile /keys/cert.pem


  gateway:
    build: ./gatewayAPI/fastapi_app/.
    ports:
      - '8000:8000'
    volumes:
      - './gatewayAPI/fastapi_app:/code'
      - './gatewayAPI/db_volume:/volume'
      - './keys:/keys'
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      PYTHONUNBUFFERED: 1
      SQLALCHEMY_DATABASE_URL: ${SQLALCHEMY_SQLITE_DATABASE_URI}
    restart: on-failure
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload --ssl-keyfile /keys/priv.pem --ssl-certfile /keys/cert.pem

  gateway2:
    build: ./gatewayAPI2/fastapi_app/.
    ports:
      - '8006:8000'
    volumes:
      - './gatewayAPI2/fastapi_app:/code'
      - './gatewayAPI2/db_volume:/volume'
      - './keys:/keys'
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      PYTHONUNBUFFERED: 1
      SQLALCHEMY_DATABASE_URL: ${SQLALCHEMY_SQLITE_DATABASE_URI}
    restart: on-failure
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload --ssl-keyfile /keys/priv.pem --ssl-certfile /keys/cert.pem

  haproxy:
    image: haproxy:latest
    container_name: haproxy
    ports:
      - "8080:8080"
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg
      - './keys:/keys'
    depends_on:
      - machine
      - orders
      - delivery
      - client
      - payment
      - rabbitmq